.button {
  display: inline-block;
  padding-top:12px;
  padding-bottom: 10px;
  width: 280px;
  background-color: @green-background;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-family: @primaty-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @white-fontcolor;
}

@media (min-width: @tablet-width) {
  .button {
    width:245px;
    font-size: 20px;
    line-height: 20px;
    padding-top:17px;
    padding-bottom: 15px;
  }
}
