.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: @primaty-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @darkgrey-fontcolor;

  background-color: @white-background-color;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;

  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-bottom: 1px solid @grey-border-color;
}

.catalog__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 320px;
  height: 180px;
  margin: 0;
  margin-top: -144px;
  padding: 0;
}

.catalog__product-name {
  width: 90px;
  margin: 0;
  margin-top: 17px;
  margin-right: 50px;
  padding: 0;

  text-transform: uppercase;
}

.catalog__product-image {
  position: relative;
  z-index: 1;
  width: 140px;
  height: 144px;

  margin: 0;
  padding: 0;
}

.catalog__link-title {
  font-family: @primaty-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @darkgrey-fontcolor;
  text-decoration: none;
}

.catalog__order {
  margin-top: 16px;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 708px;
    margin-top: 24px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    align-items: center;

    margin: 0;
    margin-top: 115px;
    padding: 0;

    border: none;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    width: 324px;
    height: 266px;

    margin-top: -122px;
    padding-top: 162px;

    background-color: @grey-background-color;
  }

  .catalog__item:nth-child(2n+1) .catalog__product-image {
    position: relative;
    z-index: 2;

    width: 324px;
    height: 172px;
    margin-top: -25px;
  }

  .catalog__item:nth-child(2n) .catalog__product-image {
    position: relative;
    z-index: 2;

    width: 324px;
    height: 208px;
    margin-top: -61px;
  }

  .catalog__product-name {
    width: 135px;
    margin: 0;
    margin-left: 8px;
    padding: 0;

    text-transform: uppercase;
    text-align: center;
  }

  .catalog__link-title {
    font-size: 20px;
  }

  .catalog__order {
    width: 249px;
    margin-top: 32px;
    margin-left: 8px;
    padding-top: 11px;
    padding-bottom: 9px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1220px;
    margin-top: 14px;
  }
  
  .catalog__wrapper {
    width: 245px;
  }

  .catalog__item:nth-child(2n+1) .catalog__product-image {
    width: 245px;
  }

  .catalog__item:nth-child(2n) .catalog__product-image {
    width: 245px;
  }

  .catalog__product-name {
    width: 135px;
    margin: 0;
    margin-left: 8px;
    padding: 0;

    text-transform: uppercase;
    text-align: center;
  }

  .catalog__order {
    width: 169px;
    margin-top: 32px;
    margin-left: 3px;
    padding-top: 11px;
    padding-bottom: 9px;

    font-size: 16px;
    line-height: 20px;
  }
}
