.categories {
  margin: 0px auto;
  padding: 0px;

  font-family: @primaty-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-fontcolor;

  background-color: @white-background-color;
  /* Временно для обводки сеточных блоков*/
  outline: 5px solid pink;
}

.categories__list {
  margin:0px;
  padding:0px;

  list-style: none;
}

.categories__item {
  background-color: @grey-background-color;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @darkgrey-fontcolor;
  text-transform: uppercase;
}

.categories__description {
  font-family: @secondary-font;
}

@media (min-width: @tablet-width) {
  .categories {
    display: flex;
    width: 708px;
    text-align: left;
  }

  .categories__list{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: 1220px;
  }

  .categories__list{
    flex-direction: row;
  }

  .categories__item {
    width: 570px;
  }

  .categories__item:first-child {
    margin-right: 80px;
  }
}
