.categories {
  width: 280px;
  margin: 0 auto;
  padding: 0;

  font-family: @primaty-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-fontcolor;

  background-color: @white-background-color;
}

.categories__list {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;

  margin-top: 20px;

  background-color: @grey-background-color;
}

.categories__title {
  margin: 0;
  padding-top: 39px;
  padding-left: 92px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @darkgrey-fontcolor;
  text-transform: uppercase;
}

.categories__description {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 25px;

  font-family: @secondary-font;
}

.categories__link {
  position: relative;

  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 24px;
  padding-top: 20px;
  padding-bottom: 22px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @darkgrey-fontcolor;
  text-decoration: none;
  text-transform: uppercase;

  border-top: 1px solid @border-color-category;
}

.categories__link::before {
  content: "";

  top: 22px;
  right: 50%;
  position: absolute;

  width: 24px;
  height: 11px;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.categories__link:hover {
  &::before {
    width: 33px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.categories__link:active {
  &::before {
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }
  opacity: 0.3;
}

.categories__item--slim::after {
  content: "";

  top: 22px;
  left: 30px;
  position: absolute;

  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.categories__item--slim::before {
  content: "";

  top: 24px;
  left: 22px;
  position: absolute;

  width: 50px;
  height: 50px;

  background: @green-background;
  border-radius: 50px;
}

.categories__item--pro::after {
  content: "";

  top: 35px;
  left: 13px;
  position: absolute;

  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.categories__item--pro::before {
  content: "";

  top: 24px;
  left: 22px;
  position: absolute;

  width: 50px;
  height: 50px;

  background: @green-background;
  border-radius: 50px;
}

@media (min-width: @tablet-width) {
  .categories {
    display: flex;
    width: 708px;

    text-align: left;
  }

  .categories__list {
    display: flex;
    flex-direction: column;

    margin-top: 500px;
  }

  .categories__item {
    width: 708px;
    margin-top: 29px;
  }

  .categories__title {
    padding-top: 78px;
    padding-left: 56px;

    font-size: 36px;
  }

  .categories__description {
    margin-top: 26px;
    margin-left: 56px;
    margin-right: 279px;

    font-size: 16px;
    line-height: 24px;
  }

  .categories__item--pro .categories__description {
    margin-right: 308px;
  }

  .categories__link {
    margin-top: 54px;
    margin-left: 57px;
    margin-bottom: 63px;
    padding: 0;

    font-size: 20px;
    line-height: 20px;

    border: none;
  }

  .categories__link::before {
    top: 6px;
    left: 127px;
  }

  .categories__item--slim::after {
    top: 80px;
    left: 476px;

    width: 140px;
    height: 194px;
  }

  .categories__item--slim::before {
    top: 92px;
    left: 446px;

    width: 200px;
    height: 200px;

    border-radius: 200px;
  }

  .categories__item--pro::after {
    top: 135px;
    left: 412px;

    width: 268px;
    height: 112px;
  }

  .categories__item--pro::before {
    top: 91px;
    left: 448px;

    width: 200px;
    height: 200px;

    border-radius: 200px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: 1220px;
  }

  .categories__list {
    flex-direction: row;

    margin-top: 80px;
  }

  .categories__item {
    width: 570px;
    margin-top: 0;
  }

  .categories__item:first-child {
    margin-right: 80px;
  }

  .categories__title {
    padding-top: 81px;
    padding-left: 216px;
  }

  .categories__description {
    margin-top: 75px;
    margin-left: 52px;
    margin-right: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .categories__item--pro .categories__description {
    margin-right: 53px;
  }

  .categories__link {
    margin-top: 26px;
  }

  .categories__item--slim::after {
    top: 41px;
    left: 66px;

    width: 70px;
    height: 97px;
  }

  .categories__item--slim::before {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;

    border-radius: 100px;
  }

  .categories__item--pro::after {
    top: 69px;
    left: 34px;

    width: 134px;
    height: 56px;
  }

  .categories__item--pro::before {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;

    border-radius: 100px;
  }
}
