.intro {
  position: relative;
  display: block;

  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: @primaty-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-fontcolor;
  text-align: center;

  background-color: @white-background-color;
}

.intro-wrapper {
  width: 320px;
  height: 305px;

  line-height: 14px;
  color: @white-fontcolor;

  background-color: @green-background;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .intro-wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__title {
  margin: 0;
  padding-top: 27px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 167px;

  text-transform: uppercase;
}

.intro__image {
  position: absolute;
  top: 168px;
  left: 20px;
}

.intro__choice-program {
  font-size: 14px;
  line-height: 18px;
  margin-top: 137px;
}

@media (min-width: @tablet-width) {
  .intro {
    display: flex;
    flex-direction: column;

    width: 708px;
  }

  .intro-wrapper {
    width: 430px;
    height: auto;
    margin-left: 88px;

    color: @darkgrey-fontcolor;
    text-align: left;

    background-color: @white-background-color;
    background-image: none;
  }

  .intro__title {
    padding-top: 49px;

    font-size: 60px;
    line-height: 60px;
  }

  .intro__slogan {
    margin-top: 43px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .intro__choice-program {
    z-index: 2;

    margin-top: 45px;
    margin-left: 88px;
    
    font-size: 20px;
    line-height: 20px;
  }

  .intro__image {
    top: 250px;
    left: 0;
    z-index: 1;

    width: 708px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    position: inherit;
    width: 100%;

    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, @green-background 50%, @green-background 100%);
  }

  .intro-wrapper {
    width: 480px;
    margin-left: 122px;
  }

  .intro-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 650px;
    height: 696px;
    margin-left: 528px;

    background: @green-background;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: cover;
  }

  .intro__title {
    padding-top: 100px;
  }

  .intro__choice-program {
    margin-top: 54px;
    margin-bottom: 190px;
    margin-left: 122px;
  }

  .intro__slogan {
    margin-top: 40px;
  }

  .intro__image-wrapper {
    position: relative;
  }

  .intro__image {
    top: -260px;
    left: 490px;

    width: 552px;
    height: 499px;
  }
}
