.main-nav {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @darkgrey-fontcolor;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  /* Временно для обводски сеточных блоков*/
  border: 5px solid lightblue;
}
