.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;

  font-family: @secondary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-fontcolor;
  text-align: center;

  background-color: @grey-background-color;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 39px;
  padding-bottom: 31px;

  border-bottom: 1px solid @border-color-category;
}

.page-footer__logo-image {
  width: 128px;
  heigth: 24px;
}

.page-footer__logo-image:hover {
  opacity: 0.8;
}

.page-footer__logo-image:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    align-items: center;
  }

  .page-footer__logo {
    justify-content: flex-start;
    margin: 0;
    width: 162px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__wrapper {
    width: 1220px;
  }
}
