.page-header {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0px auto;

  font-family: @primaty-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @darkgrey-fontcolor;
  text-transform: uppercase;
  background-color: @white-background-color;
}

.page-header__logo {
  display: flex;
  align-items: center;

  height: 65px;
  padding-left: 20px;

  border-bottom: 1px solid @grey-border-color;
}

.page-header__logo-image {
  width: 193px;
  height: 38px;
  .st0 {
    fill: @fill-ph-logo0;
  }
  .st1 {
    fill: @fill-ph-logo1;
  }
}

.page-header__logo-image:hover {
    opacity: 0.8;
  }

.page-header__logo-image:active {
    opacity: 0.6;
  }

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}


@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;

    width: @tablet-width;
  }

  .page-header__logo {
    margin-top:20px;
    margin-left: 30px;
    margin-right:100px;
    padding: 0px;

    border: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__logo {
    width:50%;
    margin:0px;
    margin-right: 0px;
    padding-top:54px;
  }

  .page-header__logo-image {
    margin-left: 40px;
    width: 202px;
    height: 59px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
