.social {
  margin: 0px auto;
  padding: 0px;

  font-family: @secondary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @grey-fontcolor;
  text-align: center;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
}
