@tablet-width: 768px;
@desktop-width: 1300px;
@grey-fontcolor: #444444;
@darkgrey-fontcolor: #111111;
@white-fontcolor: #ffffff;
@white-background-color: #ffffff;
@green-background: #64a83b;
@grey-background-color: #f2f2f2;
@primaty-font: "Oswald", "Arial", sans-serif;
@secondary-font:"Arial", sans-serif;
